:root {
  --primaryColor: #ed1651;
  --secondaryColor: #19bfd3;
  --white: #fff;
  --black: #000;
  --filter-component-primary: #3f4064;
  /* ?background */
  --main-background-color: #f7f7f7;
  /* ?border */
  --border-color-white: #fff;
  --border-color-primary: #e0e0e6;
  --border-color-secondary: #f1f2f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  /* font-family: IRANYekanX; */
  transition: all 0.2s ease-in-out;
}

*::after,
*::before {
  box-sizing: border-box;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANYekanX !important;
} */
h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  color: var(--secondaryColor);
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

p {
  line-height: 2;
}

img {
  max-width: 100%;
}
